/* Logo Popup */
.logo_pop {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(50px);
    z-index: 50;
    position: absolute;
    top: 0;
    animation: fadeOut linear 2s ; /* Add animation */
}

@keyframes fadeOut {
    0% {
        opacity: 100%;
        backdrop-filter: blur(50px);
        
        
    }

    50% {
        opacity: 50%;
        
        
    }

    100% {
        opacity: 0%;
        backdrop-filter: blur(0px);
        
    }
}

.logo_pop img {
    display: block;
    width: auto;
    height: auto;
    margin: auto;
    transform: scale(0.5); /* Use transform instead of scale */
}

/* Long Div */

.long {
    width: 75%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: hidden;
    position: relative; /* Add this line */
}

.long:hover {
    width: 75%;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: hidden;
    position: relative; /* Add this line */
    box-shadow: 0px 0px 15px rgb(0, 0, 0, .5);
    transition: all ease-in-out .5s;
}

.long h4 {
    position: absolute; /* Add this line */
    top: 50%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%); /* Center the text */
    color: white; /* Optional: Change text color for better visibility */
    z-index: 1; /* Ensure the text is above the image */
    font-family: 'latoreg';
    text-shadow: 0px 0px 15px rgb(255, 255, 255);
    font-size: large;
}

.long a {
    position: absolute; /* Add this line */
    top: 50%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%); /* Center the text */
    color: white; /* Optional: Change text color for better visibility */
    z-index: 1; /* Ensure the text is above the image */
    font-family: 'latoreg';
    text-shadow: 0px 0px 15px rgb(255, 255, 255);
    font-size: large;
}

.long img {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
    filter: blur(25px);
}

.long:hover img { 

    width: 110%;
    filter: blur(5px);
    transform: translateY(-25%);
    transition: all ease-in-out .5s;

}

.long:hover a h4 { 

    text-shadow: 0px 0px 25px rgb(255, 255, 255);
    transition: all ease-in-out .5s;

}

.long:hover a { 

    text-shadow: 0px 0px 25px rgb(255, 255, 255);
    transition: all ease-in-out .5s;

}

.long a h4:hover { 

    filter: blur(0.25px);
    font-size: xx-large;
    text-shadow: 0px 0px 15px rgb(0, 0, 0);
    transition: all ease-in-out .5s;

}

/* Piece Gallery */

.gpiece{
    width: 300px;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: hidden;
    position: relative; /* Add this line */
    box-shadow: 0px 0px 15px rgb(0, 0, 0, .25);
}

.gpiece:hover{
    width: 550px;
    height: 550px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: hidden;
    position: relative; /* Add this line */
    box-shadow: 0px 0px 25px rgb(0, 0, 0, .5);
    transition: all ease-in-out .5s;
}

.gpiece img {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
    filter: blur(0px);
}

.gpiece:hover img { 

    box-shadow: 0px 0px 25px rgb(0, 0, 0, .75);
    scale: 50%;
    filter: blur(0px);
    transition: all ease-in-out .5s;

}

.gpiece:active img { 

    box-shadow: 0px 0px 25px rgb(0, 0, 0, .75);
    scale: 150%;
    filter: blur(0px);
    transition: all ease-in-out .5s;

}