@font-face {
    font-family: 'Cehua';
    src: url('font/CehuaFreeFree-K7eMl.otf') format('opentype'); /* Added missing semicolon */
}

@font-face {
    font-family: 'latoblack';
    src: url('font/LATO-BLACK.TTF') format('truetype'); /* Added missing semicolon */
}

@font-face {
    font-family: 'latoreg';
    src: url('font/LATO-REGULAR.TTF') format('truetype'); /* Added missing semicolon */
}

hr {
    width: 75%;
    margin: auto;
    margin-top: 2%; margin-bottom: 2%;
}

.cehuafont {
    font-family: 'Cehua';
    text-align: center;
  }

.latobfont {
font-family: 'latoblack';
text-align: center;
}

.latorfont {
    font-family: 'latoreg';
    text-align: center;
    }

/* 700px or smaller */
@media only screen and (max-width: 700px) {

.center-table, td {
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* background-color: rgba(255, 255, 255, 0.25); */
}

.tContainer{
    transform: scale(100%);
    overflow-x: scroll;
    margin-left: auto;
    margin-right: auto;
    }


    /* Long Div */
    .long img {
        display: block;
        width: 75%;
        height: auto;
        margin: auto;
        filter: blur(25px);
    }
    
    .long:hover img { 
    
        scale: 200%;
        filter: blur(5px);
        transition: all ease-in-out .5s;
    
    }

.cv_pdf{
    width: 50px;
    height: 50px;
    margin: 0;
    }
   

}