.navContainer{
    width: fit-content;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.25);
    position: sticky;
    z-index: 50;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    backdrop-filter: blur(25px);
    }

.navbar1b{
    text-align: center;
    width: 250px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: crosshair;
    align-items: center;
    align-content: center;
    backdrop-filter: blur(25px);
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.navbar1b:hover{
    padding: 4% 0% 0% 0%;
    width: 1080px;
    height: 75px;
    background-color: rgba(255, 255, 255, 0.55);
    cursor: crosshair;
    align-items: center;
    align-content: center;
    backdrop-filter: blur(50px);
    border-radius: 0 0 15px 15px;
    transition: all ease-in-out 0.5s;
    
}


.navbar1b:focus{
cursor: pointer;
height: 150px;
width: 1080px;
transition: all ease-in-out 1s;
}

.navbar1b h4{
    transform: translateY(15%);
    text-shadow: 0px 0px 25px rgb(0, 0, 0, 1);
}

.navbar1b:hover h4{
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    transform: translateY(-125%);
    transition: all ease-in-out 0.5s;
    font-size: large;
    padding-left: 5px; padding-right: 5px;
}

.navbar1b:focus h4{
    text-shadow: 0px 0px 25px rgb(0, 0, 0, 1);
    transform: translateY(-50%);
    transition: all ease-in-out 0.5s;
    font-size: large;
    padding-left: 5px; padding-right: 5px;
}

/* nav info */
.nav_info{
    display: none;
    opacity: 0%;
}

.nav_info button{
    opacity: 0%;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
}

.nav_info button:hover{
    opacity: 100%;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    border-color: transparent;
}

.navbar1b:hover .nav_info{
    display: contents;
}

.navbar1b:focus .nav_info{
    display: contents;
}
    .navbar1b:hover .nav_info button{
    opacity: 100%;
    scale: 50%;
    transform: translateY(-200%);
    width: fit-content;
    height: fit-content;
    transition: all ease-in-out 0.5s;
    }

    .navbar1b:focus .nav_info button{
        opacity: 100%;
        scale: 50%;
        width: fit-content;
        height: fit-content;
        transition: all ease-in-out 0.5s;
        }

/* 700px or smaller */
@media only screen and (max-width: 700px) {

    .navbar1b:hover{
        padding: 4% 0% 0% 0%;
        width: 250px;
        height: 75px;
        background-color: rgba(255, 255, 255, 0.55);
        cursor: crosshair;
        align-items: center;
        align-content: center;
        backdrop-filter: blur(50px);
        border-radius: 0 0 15px 15px;
        transition: all ease-in-out 0.5s;
    }

    .navbar1b:focus{
        padding: 4% 0% 0% 0%;
        width: 250px;
        height: 85px;
        background-color: rgba(255, 255, 255, 0.55);
        cursor: crosshair;
        align-items: center;
        align-content: center;
        backdrop-filter: blur(50px);
        border-radius: 0 0 15px 15px;
        transition: all ease-in-out 0.5s;
    }
    
    .navbar1b:focus h4{
        text-shadow: 0px 0px 25px rgb(0, 0, 0, 1);
        transform: translateY(-15%);
        transition: all ease-in-out 0.5s;
        font-size: xx-large;
        padding-left: 5px; padding-right: 5px;
    
    }

    .navbar1b:hover .nav_info button{
        opacity: 100%;
        scale: 50%;
        transform: translateY(-20%);
        width: fit-content;
        height: fit-content;
        transition: all ease-in-out 0.5s;
        }

}